export(fixef)
export(jointPosterior)
export(paramNamesMCMCglmm)
export(predict2)
export(ranef)
export(ranefLevels)
export(recycler)
import(ggplot2)
importFrom(emdbook,HPDregionplot)
importFrom(grid,grid.layout)
importFrom(grid,grid.newpage)
importFrom(grid,pushViewport)
importFrom(grid,unit)
importFrom(grid,viewport)
importFrom(nlme,fixef)
importFrom(nlme,ranef)
S3method(fixef,MCMCglmm)
S3method(predict2,MCMCglmm)
S3method(ranef,MCMCglmm)
S3method(summary,MCMCglmmPredictedProbs)
